priority 0
################################################################################
#                               Guowei's Snippets                              #
################################################################################

snippet main "main() { }" b
int main(int argc, char *argv[])
{
	${VISUAL}$0
	return 0;
}
endsnippet

# vim:ft=snippets:
