priority 1

extends c
################################################################################
#                               Guowei's Snippets                              #
################################################################################

snippet cl "class .. (class)"
class ${1:`!p snip.rv = snip.basename or "name"`}
{
public:
	${1/(\w+).*/$1/} (${2:arguments});
	virtual ~${1/(\w+).*/$1/} ();

private:
	${0:/* data */}
};
endsnippet

# vim:ft=snippets:
